@page
@model PayrollSystem.Pages.StaffPayment.CreateModel
@{
}

<h1>Create</h1>

<h4>Salary Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Salary.Employee" class="control-label"></label>
                <select asp-for="Salary.EmployeeName" class="custom-select mr-sm-2">

                    <option>Please select</option>
                    @foreach (var item in Model.EmployeeRepository.GetEmployees())
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Salary.EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary.AmountPaid" class="control-label"></label>
                <input asp-for="Salary.AmountPaid" class="form-control" />
                <span asp-validation-for="Salary.AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary.DatePaid" class="control-label"></label>
                <input type="date" asp-for="Salary.DatePaid" class="form-control" />
                <span asp-validation-for="Salary.DatePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary.Department" class="control-label"></label>
                <select asp-for="Salary.Department" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Dept>()">

                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Salary.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}