@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Mini Payroll Project don with asp.net core razor page
    <a href="">Get the source code from Github</a>.</p>
</div>
